{
  "presets":[
    "es2017",
    "react",
    "es2016"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-es2015-classes"
      ]
    }
  }
}